@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #121212;

  --background: white;
  --foreground: var(--black);

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: var(--white);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --informative: #e0f2fe;
  --informative-foreground: var(--black);

  --warning: #fef3c7;
  --warning-foreground: var(--black);

  --destructive: #fecdd3;
  --destructive-foreground: var(--black);

  --accent: hsl(210, 22%, 69%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: hsl(210 40% 98%);
  --primary-foreground: var(--black);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: var(--white);

  --informative: #075985;
  --informative-foreground: var(--white);

  --warning: #ca8a04;
  --warning-foreground: var(--white);

  --destructive: #7f1d1d;
  --destructive-foreground: var(--white);

  --accent: hsl(216, 62%, 23%);
  --accent-foreground: hsl(210 40% 98%);
}

body {
  font-weight: 500;
}
