@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #121212;

  --background: white;
  --foreground: var(--black);

  /* color Kyo */
  --kyo-red: #fb4343d9;
  --kyo-green: #8de0a6e7;
  --kyo-blue: #1e37f6a2;

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: var(--white);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --informative: #d1e9f9;
  --informative-foreground: var(--black);

  --warning: #fef3c7;
  --warning-foreground: var(--black);

  --destructive: #fecdd3;
  --destructive-foreground: var(--black);

  --accent: hsl(195, 8%, 81%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  /* Language Color */

  --html: #e45858;
  --html-foreground: var(--white);

  --css: #413eda;
  --css-foreground: var(--white);

  --js: #f1db57;
  --js-foreground: var(--black);

  --react: #149eca;
  --react-foreground: var(--white);

  --next: #121212;
  --next-foreground: var(--white);

  --ts: #2682c8;
  --ts-foreground: var(--white);

  --supabase: #30a26e;
  --supabase-foreground: var(--white);

  --tailwind: #38bdf8;
  --tailwind-foreground: var(--white);

  --docker: #2468ee;
  --docker-foreground: var(--white);

  --sass: #ce6b9c;
  --sass-foreground: var(--white);

  --zustand: #ffbd61;
  --zustand-foreground: var(--black);

  --book: #db7504;
  --book-foreground: var(--white);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  /* color Kyo */
  --kyo-red: #fb4343;
  --kyo-green: #43cd7ac0;
  --kyo-blue: #396efe;

  --primary: hsl(210 40% 98%);
  --primary-foreground: var(--black);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: var(--white);

  --informative: #075985;
  --informative-foreground: var(--white);

  --warning: #ca8a04;
  --warning-foreground: var(--white);

  --destructive: #7f1d1d;
  --destructive-foreground: var(--white);

  --accent: hsl(216, 54%, 19%);
  --accent-foreground: hsl(210 40% 98%);
}

body {
  font-weight: 500;
}
